$naranja:#FF3D00;
$verde-oscuro:#649300;
$verde-limon:#9df400;
page-perfil {
  .buttons-add{
    margin-top: 10%;
    position: fixed;
    bottom:10%;
    left:25%;
    padding: 2%;

    #boton-crea-anuncio,#boton-modifica-anuncio{
      padding-right: 4%;
      border-radius: 20px;
      background-color: $naranja;
      .icon{
      }
    }

  }
  #boton-ser-entrenador{
    margin-top: 1%;
    width: 100%;
    background-color: rgba($verde-oscuro,0.2);
    color: black;
    margin: 0;
    border: none;
  }
  #marca-agua{
    position: absolute;
    left: 0;
    top: 20%;
    z-index: 1;
    opacity: 0.029;
    width: 200%;
  }
  #seccion-no-login{
    margin-top: 10%;
    span{
      font-size: 14pt;
    }
  }
  #seccion-registro-login{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 50%;
    position: relative;
    z-index: 99;

    p{
      display: inline-block;
      font-size: 16pt;
      margin: 7px;
      color:$verde-limon;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .center{
    text-align: center;
  }
  .content{
    padding: 0;
    .scroll-content{
      padding:0 !important;

    }

  }
  .toolbar-background{
      background-color: $naranja;
  }
  .toolbar-title{
    color:white;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
  }
  #header-profile{
    margin-top: 4%;
    width: 100%;
    height: 80px;

    #seccion-foto-perfil{
      float: right;
      text-align: center;
      margin-bottom: 3%;
      margin-right: 0.5%;
      #foto-perfil{
        background-color: white;
        max-width: none;
        height: 100%;
      }
      .icon-camera{
        &:before{
          font-size: 250%;
          margin-top: 20%;
        }
      }
      .circle{
        background-color: white;
        border-radius: 50%;
        width: 80px;
        overflow: hidden;
        height: 80px;
      }
      .edit-photo{
        color:$naranja;
        margin: 0;
        .icon{

          margin-left: 2%;

        }
      }

    }
    .seguidores{
      float:right;
      background-color: $naranja;
      color:white;
      font-size: 12pt;
      margin-top: 4%;

    }
    #datos-perfil-header{
      margin-left: 3%;
      h2{
        padding-top: 5%;
        font-size: 14pt;
      }
    }
  }
  .segment-button{
    color:$naranja !important;
    border-color:$naranja !important;
    background: white !important;
    font-size:16pt !important;
  }
  .segment-activated{
    background-color: $naranja !important;
    color: white !important;
  }
  #body-profile{
    position: relative;
    .label{
      font-size: 14pt;
      font-weight: bold;
      margin-left: 3%;
      margin-top: 2px;
      margin-bottom: 2px;

    }
    .white{
      background-color: white;
      margin: 0;
      width: 100%;
      padding: 3%;
      font-size: 13pt;
      border-top:2px solid $verde-limon;
      border-bottom:2px solid $verde-limon;
    }
    .right-icon{
      float: right;
      margin-right: 2%;
      color: $naranja;

    }
    .logo{
      margin-right: 4%;
      font-size: 13pt;
    }

  }
  #boton-formacion{
    .button{
      background-color: transparent;
      border:none;
      box-shadow: none;
      color:black;
      ;

    }
    .icon{
      margin-right: 8%;
    }
  }
  .datetime,.select{
    .item-cover{
      position: relative;
      width: 20px;
    }
  }
  .datetime-placeholder,.datetime-text{
    color:black !important;
    overflow: visible;

  }
  .select{
    max-width: 100% !important;

  }
  .select-placeholder,.select-text{
    color:black !important;
    overflow: visible;
  }
  .select-icon-inner,.datetime-icon-inner{
    color:$naranja !important;
    left:10px !important;
  }
  #add-publication{
    width: 100%;
    background-color: transparent;
    border: 1px solid $naranja;
    color:black;
  }
}
.picker-wrapper{

  .picker-button{
    color:$naranja;
  }
  .picker-columns{
    color:black;
  }
  .picker-opt-selected{
    font-weight: bold;
    color:$verde-oscuro !important;
  }
}
.alert-top,.select-alert{

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
  }
  background-color: rgba(157, 244, 0, 0.28);
  .alert-wrapper{
    border-radius: 20px;
    margin-top: 10%;
    transform: scale(1.25);
  }
  .alert-message{
    color:black;
  }
  .alert-input{
    color:black;
    border-bottom: 1px solid $verde-limon;
  }
  .alert-button{
    color:$naranja;
  }


}
#seccion-servicio{
  margin-bottom: 200px;

}
