$naranja:#FF3D00;
$verde-oscuro:#649300;
$verde-limon:#9df400;
page-perfil {
  .buttons-add{
    bottom: 10px;
    text-align: center;
    .button{
      width: 80%;

    }
    p{
      margin-right: 6px;
    }
  }
  #marca-agua{
    position: absolute;
    left: 0;
    top: 20%;
    z-index: 1;
    opacity: 0.07;
    width: 200%;
  }
  #seccion-no-login{
    margin-top: 10%;
    span{
      font-size: 14pt;
    }
  }
  #seccion-registro-login{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 80%;

    p{
      display: inline-block;
      font-size: 16pt;
      margin: 7px;
      color:$verde-limon;
    }
  }
  .center{
    text-align: center;
  }
  .content{
    background-color: rgba(157, 244, 0, 0.28);
    padding: 0;
    .scroll-content{
      padding:0 !important;

    }

  }
  .toolbar-background{
      background-color: $naranja;
  }
  .toolbar-title{
    color:white;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
  }
  #header-profile{
    margin-top: 4%;
    width: 100%;
    height: 80px;

    #seccion-foto-perfil{
      width: 35%;
      float: left;
      text-align: center;
      margin-bottom: 3%;
      #foto-perfil{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background-color: white;
      }
      .edit-photo{
        color:$naranja;
        margin: 0;
        .icon{

          margin-left: 2%;

        }
      }

    }
    .seguidores{
      float:right;
      background-color: $naranja;
      color:white;
      font-size: 12pt;
      margin-top: 4%;

    }
    #datos-perfil-header{
      width: 65%;
    }
  }
  .segment-button{
    color:$naranja !important;
    border-color:$naranja !important;
    background: white !important;
    font-size:16pt !important;
  }
  .segment-activated{
    background-color: $naranja !important;
    color: white !important;
  }
  #body-profile{
    .label{
      font-size: 14pt;
      font-weight: bold;
      margin-left: 3%;
    }
    .white{
      background-color: white;
      width: 100%;
      padding: 3%;
      font-size: 13pt;
      border-top:2px solid $verde-limon;
      border-bottom:2px solid $verde-limon;
    }
    .right-icon{
      float: right;
      margin-right: 2%;
      color: $naranja;

    }

  }
}
