page-perfil .buttons-add {
  margin-top: 10%;
  position: fixed;
  bottom: 10%;
  left: 25%;
  padding: 2%; }
  page-perfil .buttons-add #boton-crea-anuncio, page-perfil .buttons-add #boton-modifica-anuncio {
    padding-right: 4%;
    border-radius: 20px;
    background-color: #FF3D00; }
page-perfil #boton-ser-entrenador {
  margin-top: 1%;
  width: 100%;
  background-color: rgba(100, 147, 0, 0.2);
  color: black;
  margin: 0;
  border: none; }
page-perfil #marca-agua {
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 1;
  opacity: 0.029;
  width: 200%; }
page-perfil #seccion-no-login {
  margin-top: 10%; }
  page-perfil #seccion-no-login span {
    font-size: 14pt; }
page-perfil #seccion-registro-login {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-top: 50%;
  position: relative;
  z-index: 99; }
  page-perfil #seccion-registro-login p {
    display: inline-block;
    font-size: 16pt;
    margin: 7px;
    color: #9df400;
    font-weight: bold;
    letter-spacing: 1px; }
page-perfil .center {
  text-align: center; }
page-perfil .content {
  padding: 0; }
  page-perfil .content .scroll-content {
    padding: 0 !important; }
page-perfil .toolbar-background {
  background-color: #FF3D00; }
page-perfil .toolbar-title {
  color: white;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 16pt;
  text-align: center; }
page-perfil #header-profile {
  margin-top: 4%;
  width: 100%;
  height: 80px; }
  page-perfil #header-profile #seccion-foto-perfil {
    float: right;
    text-align: center;
    margin-bottom: 3%;
    margin-right: 0.5%; }
    page-perfil #header-profile #seccion-foto-perfil #foto-perfil {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-color: white; }
    page-perfil #header-profile #seccion-foto-perfil .icon-camera:before {
      font-size: 250%;
      margin-top: 20%; }
    page-perfil #header-profile #seccion-foto-perfil .circle {
      background-color: white;
      border-radius: 50%;
      width: 80px;
      height: 80px; }
    page-perfil #header-profile #seccion-foto-perfil .edit-photo {
      color: #FF3D00;
      margin: 0; }
      page-perfil #header-profile #seccion-foto-perfil .edit-photo .icon {
        margin-left: 2%; }
  page-perfil #header-profile .seguidores {
    float: right;
    background-color: #FF3D00;
    color: white;
    font-size: 12pt;
    margin-top: 4%; }
  page-perfil #header-profile #datos-perfil-header {
    margin-left: 3%; }
    page-perfil #header-profile #datos-perfil-header h2 {
      padding-top: 5%;
      font-size: 14pt; }
page-perfil .segment-button {
  color: #FF3D00 !important;
  border-color: #FF3D00 !important;
  background: white !important;
  font-size: 16pt !important; }
page-perfil .segment-activated {
  background-color: #FF3D00 !important;
  color: white !important; }
page-perfil #body-profile {
  position: relative; }
  page-perfil #body-profile .label {
    font-size: 14pt;
    font-weight: bold;
    margin-left: 3%;
    margin-top: 2px;
    margin-bottom: 2px; }
  page-perfil #body-profile .white {
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 3%;
    font-size: 13pt;
    border-top: 2px solid #9df400;
    border-bottom: 2px solid #9df400; }
  page-perfil #body-profile .right-icon {
    float: right;
    margin-right: 2%;
    color: #FF3D00; }
  page-perfil #body-profile .logo {
    margin-right: 4%;
    font-size: 13pt; }
page-perfil #boton-formacion .button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: black; }
page-perfil #boton-formacion .icon {
  margin-right: 8%; }
page-perfil .datetime .item-cover, page-perfil .select .item-cover {
  position: relative;
  width: 20px; }
page-perfil .datetime-placeholder, page-perfil .datetime-text {
  color: black !important;
  overflow: visible; }
page-perfil .select {
  max-width: 100% !important; }
page-perfil .select-placeholder, page-perfil .select-text {
  color: black !important;
  overflow: visible; }
page-perfil .select-icon-inner, page-perfil .datetime-icon-inner {
  color: #FF3D00 !important;
  left: 10px !important; }

.picker-wrapper .picker-button {
  color: #FF3D00; }
.picker-wrapper .picker-columns {
  color: black; }
.picker-wrapper .picker-opt-selected {
  font-weight: bold;
  color: #649300 !important; }

.alert-top, .select-alert {
  background-color: rgba(157, 244, 0, 0.28); }
  .alert-top ::-webkit-input-placeholder, .select-alert ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black; }
  .alert-top .alert-wrapper, .select-alert .alert-wrapper {
    border-radius: 20px;
    margin-top: 10%;
    transform: scale(1.25); }
  .alert-top .alert-message, .select-alert .alert-message {
    color: black; }
  .alert-top .alert-input, .select-alert .alert-input {
    color: black;
    border-bottom: 1px solid #9df400; }
  .alert-top .alert-button, .select-alert .alert-button {
    color: #FF3D00; }

/*# sourceMappingURL=perfil.css.map */
