page-nueva-tarifa {
  .toolbar-background{
    background-color: $naranja;
  }
  .scroll-content{
    padding: 0 !important;
  }
  .toolbar-title{
    color:white;
  }
  .back-button{
    color:white;
  }
  .label{
    font-size: 13pt;
    font-weight: bold;
    color:black;
    text-indent: 2%;
  }
  .white{
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 3%;
    font-size: 13pt;
    border-top:2px solid $verde-limon;
    border-bottom:2px solid $verde-limon;
  }
  .right-icon{
    float: right;
    margin-right: 2%;
    color: $naranja;

  }
  .button{
    width: 100%;
    background-color: $naranja;
  }
}
