<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!activo">Mis chats</ion-title>
    <ion-title *ngIf="activo">Chat con {{nombreChat}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div *ngIf="!user" class="center" id="seccion-no-login">
    <div>
      <img style="width: 90px;height: 90px;" *ngIf=logoCara [src]=logoCara >
      <h2 >Aún no has iniciado sesión</h2>
      <span>Inicia sesión o registrate en la app para usar el chat.</span>
      <img id="marca-agua"   *ngIf=logoChat [src]=logoChat>
      <div id="seccion-registro-login">
        <p (click)="irALogin()">Iniciar sesíon</p>
        <p>|</p>
        <p (click)="irARegistro()">Registrarse</p>

      </div>
    </div>

  </div>
  <div *ngIf="user&&!activo">
    <p style="font-size: 22pt;
    text-align: center;">No tienes chats</p>
  </div>
  <div *ngIf="user&&activo">


  <ol class="chat">

    <div class="day">Hoy</div>
    <li class="self">
      <div class="msg">
        <p>Buenas, estoy interesado en su servicio. Me gustaría hablar con usted.</p>
        <time>18:00</time>

      </div>
    </li>
    <li class="other">
      <div class="msg">
        <p>Buenas tardes.</p>
        <p>Muchas gracias por su interés. ¿Qué es lo que desea saber?</p>
        <time>18:10</time>
      </div>
    </li>

  </ol>
  <input class="textarea" type="text" placeholder="Escribe tu mensaje"/>
  </div>
</ion-content>
