<!--
  Generated template for the CrearPublicacion page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Añade una publicación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <form #form="ngForm" (submit)="crearPubli(form)">
    <ion-label>Titulo</ion-label>
    <ion-input class="white" type="text" name="titulo" required ngModel placeholder="Añade un título" required></ion-input>
    <ion-label>Descripción</ion-label>
    <ion-textarea class="white" type="text" name="descripcion" required ngModel placeholder="Añade una descripción..."></ion-textarea>
    <ion-label>Añade fotos a tu publicación</ion-label>
    <div id="añade-fotos">
      <div (click)="addPhoto('1')" class="bloque-add">
        <ion-icon *ngIf="!foto1&&!foto1Preview" name="camera"></ion-icon>
        <img *ngIf="foto1Preview" [src]="foto1Preview">
      </div>
      <div (click)="addPhoto('2')" class="bloque-add">
        <ion-icon *ngIf="!foto2&&!foto2Preview" name="camera"></ion-icon>
        <img *ngIf="foto2Preview" [src]="foto2Preview">
      </div>
      <div (click)="addPhoto('3')" class="bloque-add">
        <ion-icon *ngIf="!foto3&&!foto3Preview" name="camera"></ion-icon>
        <img *ngIf="foto3Preview" [src]="foto3Preview">
      </div>
    </div>
    <ion-label>Añade videos a tu publicación</ion-label>

    <div id="añade-video">

      <div (click)="addVideo(1)" class="bloque-add">
        <ion-icon *ngIf="!video1Preview" name="videocam"></ion-icon>
        <ion-icon *ngIf="video1Preview" name="checkmark"></ion-icon>

      </div>
      <div (click)="addVideo(2)" class="bloque-add">
        <ion-icon *ngIf="!video2Preview" name="videocam"></ion-icon>
        <ion-icon *ngIf="video2Preview" name="checkmark"></ion-icon>
      </div>
      <ion-label>¿Cuál es la especialidad principal?</ion-label>

      <ion-select required class="white" name="especialidad" ngModel placeholder="Seleciona una especialidad">
        <ion-option  *ngFor="let especialidad of especialidades|async">{{especialidad.$key}}</ion-option>

      </ion-select>
    </div>

    <ion-buttons>
      <button class="button-publi" type="submit" ion-button [disabled]="!form.value.descripcion ||!this.foto1|| !form.value.titulo || !form.value.especialidad" >Crear</button>
    </ion-buttons>
  </form>

</ion-content>
