<!--
  Generated template for the VistaMapa page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>vista-mapa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div >
    <input  id="auto-input" type="text" /><ion-buttons class="button-clear"><button (click)="clearInput()" ion-button><ion-icon name="close-circle"></ion-icon></button></ion-buttons>
    <ion-buttons class="button-add">
      <button (click)="addMarker()" ion-button>Añadir lugar</button>
    </ion-buttons>
  </div>
  <ion-list *ngIf="lugares">
    <ion-item *ngFor="let lugar of lugares">{{lugar.nombre}}</ion-item>
  </ion-list>
  <div #mapa id="mapa">

  </div>
  <ion-buttons  class="button-fixed">
    <button (click)="guardarLugares()" ion-button>Aceptar</button>
  </ion-buttons>

</ion-content>
