$naranja:#FF3D00;
$verde-oscuro:#649300;
$verde-limon:#9df400;
page-vista-mapa {
  .scroll-content{
    padding: 0 !important;

  }
  .toolbar-background{
    background-color: transparent;

  }
  .header::after{
    display: none;
  }
  .back-button-icon{
    color:white;
    background-color: $naranja;
    font-size: 20pt;
    font-weight:bold;
    border-radius: 50%;

  }
  #input-mapa{
    position: fixed;
     top: 5%;
    width: 100%;
    /* left: 0; */
    z-index: 999;
  }
  #auto-input{
    width: 100%;
    height: 40px;
  }
  .button-guardar{
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 50px;
    background-color: white;
    color:$naranja;



  }


  .button-clear{
    position: absolute;
    right: 0;
    top:0;

    background-color: transparent;
    .button{
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
    .icon{
      font-size:14pt;
      color:black;
    }
  }
  .button-add{
    text-align: center;
    .button{
      background-color: $naranja;
      width: 100%;
    }
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #mapa {
    width: 100%;
    height: 100%;
    overflow: inherit;

  }
  .button-fixed{
    position: fixed;bottom: 10%;
    text-align: center;
    width: 100%;
  }
}
