card-publi {
  .card-header{
    padding: 0;
  }
  .card-content{
    padding: 0;
  }
  .descripcion-publi{
  }
  .contenido-card-publi{
    h2{
      margin-left: 2%;
    }
  }
  ul {
    margin-left: 3%;
    padding: 0px;

    &.rating li {
      padding: 2px 3px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 25px;
      }
    }
  }
  .icon-likes{
    img{
      width: 20px;
      height: 20px;
      float:left;
      margin-right: 20px;
      margin-left: 10px;
      margin-top:12px;

    }
  }
  .fablist{
    margin-left:0;
  }
}
