<!-- Generated template for the CardPubli component -->
<div (click)="irAVistaPublicacion($event)">
  <ion-card >
    <ion-card-header >
      <div ><img src="{{fotoP}}"></div>
    </ion-card-header>
    <ion-card-content >
      <div class="contenido-card-publi">
        <h1 id="nombre-entre"><strong>{{entrenador}}</strong></h1>
        <h3 class="titulo-publi">{{titulo}}</h3>
      </div>

      <div class="descripcion-publi" style="float: left">


        <h3 id="descripcion">{{descripcion}}</h3>
      </div>
      <div class="content-footer">
        <div class="icon-likes">
          <ion-icon id="icon-like" (click)="setLike()" name="thumbs-up"><span style="color:black;font-size: 13pt;margin-left: 6px;">({{likes}})</span></ion-icon>
        </div>
        <div>
          <span id="fecha">{{fecha}}</span>
        </div>

        <!--<ion-fab class="button-fab" edge>
          <button ion-fab mini><ion-icon name="share"></ion-icon></button>
          <ion-fab-list side="left" class="fablist">
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>-->
      </div>
    </ion-card-content>
  </ion-card>
</div>
