card-publi {
  .card-header{
    padding: 0;
  }
  .card-content{
    padding: 0;
    margin-top: 2%;
  }
  .descripcion-publi{
    margin-top: 3%;
  }
  .contenido-card-publi{
    h2{
      margin-left: 2%;
    }
  }
  ul {
    margin-left: 3%;
    padding: 0px;

    &.rating li {
      padding: 2px 3px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 25px;
      }
    }
  }
}
