<!-- Generated template for the CardPubli component -->
<div>
  <ion-card >
    <ion-card-header>
      <div ><img src="../../assets/imagenes/publi1.jpg"></div>
      <ion-card-title><strong>{{entrenador}}</strong>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="contenido-card-publi">
        <h1 class="titulo-publi">{{titulo}}</h1>
      </div>


      <div class="descripcion-publi" style="float: left">
        <ion-badge class="text-especialidad" style="float: right;margin-right: 3%">{{especialidad}}</ion-badge>

        <h3>{{descripcion}}</h3>
      </div>
      <div class="content-footer">
        <!--<div class="icon-likes">
          <img src="../../assets/icon/like.png"/>
          <img src="../../assets/icon/dislike.png"/>
        </div>-->
        <ion-fab class="button-fab" edge>
          <button ion-fab mini><ion-icon name="share"></ion-icon></button>
          <ion-fab-list side="left" class="fablist">
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>
      </div>
    </ion-card-content>
  </ion-card>
</div>
