page-entrenadores {
  @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
  $border-radius-size: 14px;
  $barbarian: #EC9B3B;
  *, *:before, *:after {
    box-sizing: border-box;
  }
  .toolbar-title{
    color:white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 18pt;
    letter-spacing: 2px;

}
  .toolbar-background{

    background-color: #32001D;
  }
  .searchbar{
    position: fixed;
    z-index: 999999;
    top:8%;
    .searchbar-input-container{
      width: 85%;
      margin:0 auto;
    }
  }
  .grid{
    margin-top: 16%;
  }
  .brick{
    top:0 !important;
  }
  .body-gray{
    background-color: #dedede;
  }

  body {
    background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: #9E9E9E;
    margin-top: 30px;
    padding: 0;

  }
  .ion-content{
    padding: 0;
  }
  .scroll-content{
    padding:0;
  }
  .slide-container {
    margin: auto;
    width: 600px;
    text-align: center;
  }

  .card_entrenador {
    background: white;
    display: inline-block;
    margin: auto;
    padding: 0;
    width: 100%;

   // border-radius: $border-radius-size + 5;
    position: relative;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
  }
  #section{
    -moz-column-width: 13em;
    -webkit-column-width: 13em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
  }
  .card_image {
    position: relative;
    width: auto;
    max-height: 135px;
    overflow: hidden;
    //border-top-left-radius: $border-radius-size;
   // border-top-right-radius: $border-radius-size;
    //background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');

  }
  .card-content-entrenador{
    padding: 0;
    height: auto;
  }

  .card_nombre {
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 700;
    margin-bottom: 3px;
    color: #230A19;
  }

  .card_especialidad {
    font-size: 110%;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
  }
  .card_descripcion {

  }
  .card_footer {
    width: 100%;
    color: white;
    background: #230A19;
    font-weight: 700;
   // border-bottom-left-radius: $border-radius-size;
   // border-bottom-right-radius: $border-radius-size;
    bottom: 0;
    .div-price{
      width: 100%;
      background:#848484;
      color:black;
      display:inline-block;
      .stat-value{
        float: right;
      }

    }
    .one-third {
      width: 50%;
      float: left;
      text-align: center;
      //padding: 20px 15px;
      border-right: 1px solid #0B0006;
    }

    sup {
      position: absolute;
      bottom: 4px;
      font-size: 45%;
      margin-left: 2px;
    }

    .stat {
      position: relative;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .stat-value {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
    }

    .no-border {
      border-right: none;
    }
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .slick-prev {
    left: 100px;
    z-index: 999;
  }

  .slick-next {
    right: 100px;
    z-index: 999;
  }
}
