$naranja:#FF3D00;
$verde-oscuro:#649300;
$verde-limon:#9df400;
page-entrenadores {
  .scroll-content{
    padding: 0 !important;
  }


  .toolbar-title{
    color:white;
    text-align: center;
    font-size: 18pt;
    letter-spacing: 2px;
  }
  .toolbar-background{
    background-color: $naranja;
  }
  .searchbar{
    padding: 0;
    z-index: 999999;
    .searchbar-input-container{
      width: 100%;
      padding: 0;
      margin:0 auto;
    }
  }

  #lista-entrenadores{


  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  #filtrar-ordenar{
    width: 100%;
    border-bottom: 1px solid gray;
    height: 46px;
    #ordenar{
      height: 46px;
      .select{
        .item-cover{
          position: relative;
          width: 20px;
        }
      }
      .select{
        max-width: 100% !important;

      }
      .select-placeholder,.select-text{
        color:black !important;
        overflow: visible;
      }
      .select-icon-inner{
        color:$naranja !important;
        left:10px !important;
      }
      ion-select{
        max-width: 100%;
        .select-placeholder{
          color:black;
          font-size:13pt;font-weight: bold;
        }
      }
      border-right: 2px solid gray;
      width: 50%;
      float: left;
    }
    #filtrar{
      height: 46px;
      width: 50%;
      float: left;
      #button-filter{
        background-color: transparent;

        .button-style{
          background-color: transparent;
          font-size: 13pt;
          font-weight: bold;
          color:black;
          box-shadow: none;
          text-transform: capitalize;

        }
      }

    }
  }
  #filtros{
    margin-top: 2px;
    text-align: center;

    .badge{
      margin: 2px;
      padding: 5px;
      background-color: $naranja;
      font-size: 12pt;
      display: inline-block;



    }
  }

}
