<!--
  Generated template for the Entrenadores page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-buttons end >
      <button (click)="goFilterTrainer()" ion-button >
        <img src="../../assets/icon/funnel.png" />
      </button>
    </ion-buttons>
    <ion-title>
      {{title_page}}
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content >
  <ion-searchbar placeholder="Buscar en FYT" [(ngModel)]="busqueda" (ionInput)="buscarEntrenador()"></ion-searchbar>
  <!--<ul>
    <h3>Busqueda por nombre</h3>
    <li *ngFor="let e of nombre_entrenadores">
      {{e.nombre}}
      {{e.especialidad}}
      {{e.ubicacion}}
    </li>
  </ul>-->
    <ion-list id="lista-entrenadores">
      <ion-col  col-12 *ngFor="let entrenador of cogerDatos.entrenadores |async">
       <card-trainer *ngIf="entrenador.estado=='confirmado' &&entrenador.servicio" (click)="irAVistaEntrenador(entrenador,fotoPerfil)" [key]=entrenador.$key [fotoPerfil]=fotoPerfil [nombre]=entrenador.nombre [apellidos]=entrenador.apellidos [especialidades]=entrenador.especialidades [localidad]=entrenador.localidad></card-trainer>
      </ion-col>
    </ion-list>



</ion-content>
