<!--
  Generated template for the VistaEntrenador page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

  </ion-navbar>
</ion-header>
<ion-content id="content">
  <div class="slide-fotos">
    <ion-slides pager="true" effect="flip">
      <ion-slide>
        <img  *ngIf="foto1" src="{{foto1}}"/>
      </ion-slide>
      <ion-slide>
        <img *ngIf="foto2" src="{{foto2}}"/>
      </ion-slide>
      <ion-slide>
        <img *ngIf="foto3" src="{{foto3}}"/>
      </ion-slide>

    </ion-slides>
  </div>
  <ion-segment [(ngModel)]="entrenadorSegment"  (ionChange)="segmentChanged($event)">
    <ion-segment-button value="info">
      Información
    </ion-segment-button>
    <ion-segment-button value="blog">
      Blog
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="entrenadorSegment">
    <ion-list id="seccion-info" *ngSwitchCase="'info'">

      <div class="circle foto-perfil">
        <div >
          <img  *ngIf="fotoPerfil" src="{{fotoPerfil}}"/>
          <img  *ngIf="!fotoPerfil" src="../../assets/imagenes/foto3.jpg"/>

        </div>
      </div>

      <div *ngIf="datosEntrenador" class="info-entrenador">
        <div style="margin-left: 2%">
          <h2 style="width: 60%;background-color: transparent;">{{datosEntrenador.nombre}} {{datosEntrenador.apellidos}}</h2>

          <div id="seccion-localidad">
            <p style="width: 60%;" ><ion-icon style="margin-right: 2%;" name="navigate"></ion-icon>{{datosEntrenador.localidad}}</p>
          </div>
          <div id="seccion-contacto" >
            <p col col-8><img src="../../assets/icon/email.png"/>{{datosEntrenador.email}}</p>
            <p><img src="../../assets/icon/telefono.png"/>{{datosEntrenador.telefono}}</p>
          </div>
          <div *ngIf="datosEntrenador.linkedin ||datosEntrenador.instagram||datosEntrenador.facebook||datosEntrenador.twitter" id="info-redes">
            <a *ngIf="datosEntrenador.linkedin" href="https://linkedin.com/{{datosEntrenador.linkedin}}" ><img src="../../assets/icon/linkedin.png" /></a>
            <a *ngIf="datosEntrenador.instagram" href="https://instagram.com/{{datosEntrenador.instagram}}" ><img src="../../assets/icon/instagram.png" /></a>
            <a *ngIf="datosEntrenador.facebook" href="https://facebook.com/{{datosEntrenador.facebook}}" ><img src="../../assets/icon/facebook.png" /></a>
            <a *ngIf="datosEntrenador.twitter" href="https://twitter.com/{{datosEntrenador.twitter}}" ><img src="../../assets/icon/twitter.png" /></a>
          </div>
          <div  id="seccion-valoracion">
            <rating (click)="scrollTo()" id="rating-perfil" [(ngModel)]="mediaTotal"
                    readOnly="true"  max="5"
                    emptyStarIconName="star-outline"
                    halfStarIconName="star-half"
                    starIconName="star"
                    nullable="false"
            ></rating>
            <p id="valoracion">({{totalValoration}})  </p>
            <div  id="seccion-seguidores-val">
              <ion-badge (click)="seguirEntrenador()" *ngIf="!seguido">Seguir <span>({{seguidores}})</span></ion-badge>
              <ion-badge (click)="seguirEntrenador()" class="siguiendo" *ngIf="seguido">Siguiendo <span>({{seguidores}})</span></ion-badge>
            </div>
          </div>

            <div id="seccion-especialidades" >
              <ion-list >
                <ion-badge *ngFor="let esp of datosEntrenador.servicio.especialidad"><img src="../../assets/icon/abdominal.png"/>{{esp}}</ion-badge>
              </ion-list>
            </div>
          </div>

        <div id="seccion-lugar-entrenamiento" class="line-separator secciones">
          <h2 style="text-align: center">¿Dónde podemos entrenar?</h2>

          <map-component [lugares]=datosEntrenador.servicio.lugares></map-component>

          <ion-buttons id="button-mapa">
            <button (click)="detallesMapa(datosEntrenador.servicio.lugares)" style="width: 100%;" ion-button>
              Ver detalles
            </button>
          </ion-buttons>
          <!--<p>A domicilio: <strong>{{datosEntrenador.lugarEntrenamiento.domicilio}}</strong></p>
          <p>Lugares:<strong>{{datosEntrenador.lugarEntrenamiento.lugar}}</strong> </p>-->
        </div>
        <div id="seccion-exp-form" class="line-separator secciones">
          <h2>Experiencia y formación</h2>
          <ion-list>
            <h3>Formación: </h3><li class="li-form" *ngFor="let form of datosEntrenador.formacion">{{form}}</li>
            <h3>Experiencia: </h3><li class="li-form" *ngFor="let exp of datosEntrenador.experiencia">{{exp}}</li>
          </ion-list>
        </div>
        <div id="seccion-disponibilidad" class="line-separator secciones">
          <h2 style="text-align: center">Disponibilidad</h2>
          <ion-list #listFab>
            <ion-fab><button activated #L id="L" (click)="mostrarDisponibilidad(L)" ion-fab >L</button></ion-fab>
            <ion-fab><button #M id="M" (click)="mostrarDisponibilidad(M)" ion-fab>M</button></ion-fab>
            <ion-fab><button #X id="X" (click)="mostrarDisponibilidad(X)" ion-fab >X</button></ion-fab>
            <ion-fab><button #J id="J" (click)="mostrarDisponibilidad(J)" ion-fab >J</button></ion-fab>
            <ion-fab><button #V id="V" (click)="mostrarDisponibilidad(V)" ion-fab >V</button></ion-fab>
            <ion-fab><button #S id="S" (click)="mostrarDisponibilidad(S)" ion-fab >S</button></ion-fab>
            <ion-fab><button #D id="D" (click)="mostrarDisponibilidad(D)" ion-fab >D</button></ion-fab>




            <!--<p>Lunes : <strong>{{datosEntrenador.disponibilidad.tarde}}</strong></p>
            <p>Martes : <strong>{{datosEntrenador.disponibilidad.tarde}}</strong></p>
            <p>Miercoles : <strong>{{datosEntrenador.disponibilidad.tarde}}</strong></p>
            <p>Jueves : <strong>{{datosEntrenador.disponibilidad.tarde}}</strong></p>
            <p>Viernes : <strong>{{datosEntrenador.disponibilidad.tarde}}</strong></p>
            <p>Sabado : <strong>{{datosEntrenador.disponibilidad.tarde}}</strong></p>
            <p>Domingo : <strong>{{datosEntrenador.disponibilidad.tarde}}</strong></p>-->
          </ion-list>
          <div #horario id="horario" *ngIf="horarios" class="muestra-horario">
            <p *ngIf="lp">Lunes:
              <span *ngIf="horarios.lunes.franja1From">{{horarios.lunes.franja1From}} - </span>
              <span *ngIf="horarios.lunes.franja1To">{{horarios.lunes.franja1To}}</span>
              <span *ngIf="horarios.lunes.franja2From"> / {{horarios.lunes.franja2From}} - </span>
              <span *ngIf="horarios.lunes.franja2To">{{horarios.lunes.franja2To}}</span>
              <span *ngIf="horarios.lunes.franja3From"> / {{horarios.lunes.franja3From}} - </span>
              <span *ngIf="horarios.lunes.franja3To">{{horarios.lunes.franja3To}}</span>
            </p>

            <p *ngIf="mp">Martes:
              <span *ngIf="horarios.martes.franja1From">{{horarios.martes.franja1From}} - </span>
              <span *ngIf="horarios.martes.franja1To">{{horarios.martes.franja1To}}</span>
              <span *ngIf="horarios.martes.franja2From"> / {{horarios.martes.franja2From}} - </span>
              <span *ngIf="horarios.martes.franja2To">{{horarios.martes.franja2To}}</span>
              <span *ngIf="horarios.martes.franja3From"> / {{horarios.martes.franja3From}} - </span>
              <span *ngIf="horarios.martes.franja3To">{{horarios.martes.franja3To}}</span>
            </p>
            <p *ngIf="xp">Miercoles:
              <span *ngIf="horarios.miercoles.franja1From">{{horarios.miercoles.franja1From}} - </span>
              <span *ngIf="horarios.miercoles.franja1To">{{horarios.miercoles.franja1To}}</span>
              <span *ngIf="horarios.miercoles.franja2From"> / {{horarios.miercoles.franja2From}} - </span>
              <span *ngIf="horarios.miercoles.franja2To">{{horarios.miercoles.franja2To}}</span>
              <span *ngIf="horarios.miercoles.franja3From"> / {{horarios.miercoles.franja3From}} - </span>
              <span *ngIf="horarios.miercoles.franja3To">{{horarios.miercoles.franja3To}}</span>
            </p>
            <p *ngIf="jp">Jueves:
              <span *ngIf="horarios.jueves.franja1From">{{horarios.jueves.franja1From}} - </span>
              <span *ngIf="horarios.jueves.franja1To">{{horarios.jueves.franja1To}}</span>
              <span *ngIf="horarios.jueves.franja2From"> / {{horarios.jueves.franja2From}} - </span>
              <span *ngIf="horarios.jueves.franja2To">{{horarios.jueves.franja2To}}</span>
              <span *ngIf="horarios.jueves.franja3From"> / {{horarios.jueves.franja3From}} - </span>
              <span *ngIf="horarios.jueves.franja3To">{{horarios.jueves.franja3To}}</span>
            </p>
            <p *ngIf="vp">Viernes:
              <span *ngIf="horarios.viernes.franja1From">{{horarios.viernes.franja1From}} - </span>
              <span *ngIf="horarios.viernes.franja1To">{{horarios.viernes.franja1To}}</span>
              <span *ngIf="horarios.viernes.franja2From"> / {{horarios.viernes.franja2From}} - </span>
              <span *ngIf="horarios.viernes.franja2To">{{horarios.viernes.franja2To}}</span>
              <span *ngIf="horarios.viernes.franja3From"> / {{horarios.viernes.franja3From}} - </span>
              <span *ngIf="horarios.viernes.franja3To">{{horarios.viernes.franja3To}}</span>
            </p>
            <p *ngIf="sp">Sabado:
              <span *ngIf="horarios.sabado.franja1From">{{horarios.sabado.franja1From}} - </span>
              <span *ngIf="horarios.sabado.franja1To">{{horarios.sabado.franja1To}}</span>
              <span *ngIf="horarios.sabado.franja2From"> / {{horarios.sabado.franja2From}} - </span>
              <span *ngIf="horarios.sabado.franja2To">{{horarios.sabado.franja2To}}</span>
              <span *ngIf="horarios.sabado.franja3From"> / {{horarios.sabado.franja3From}} - </span>
              <span *ngIf="horarios.sabado.franja3To">{{horarios.sabado.franja3To}}</span>
            </p>
            <p *ngIf="dp">Domingo:
              <span *ngIf="horarios.domingo.franja1From">{{horarios.domingo.franja1From}} - </span>
              <span *ngIf="horarios.domingo.franja1To">{{horarios.domingo.franja1To}}</span>
              <span *ngIf="horarios.domingo.franja2From"> / {{horarios.domingo.franja2From}} - </span>
              <span *ngIf="horarios.domingo.franja2To">{{horarios.domingo.franja2To}}</span>
              <span *ngIf="horarios.domingo.franja3From"> / {{horarios.domingo.franja3From}} - </span>
              <span *ngIf="horarios.domingo.franja3To">{{horarios.domingo.franja3To}}</span>
            </p>
          </div>
        </div>



        <div id="seccion-precios" class="line-separator secciones">
          <h2 style="text-align: center">Tarifas y servicios</h2>
          <ion-row id="precios">

            <ion-card *ngFor="let tarifa of datosEntrenador.servicio.tarifas;let i=index;" col col-6>
              <ion-card-header>
                <ion-card-title>{{tarifa.nombre}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item *ngIf="tarifa.desc0" ><li>{{tarifa.desc0}}</li></ion-item>
                  <ion-item *ngIf="tarifa.desc1"><li>{{tarifa.desc1}}</li></ion-item>
                  <ion-item *ngIf="tarifa.desc2"><li>{{tarifa.desc2}}</li></ion-item>
                </ion-list>
                <div class="footer-price">
                  <ion-badge>{{tarifa.precio}}</ion-badge>
                  <ion-buttons style="text-align: center;">
                    <button ion-button class="boton-reserva">Reserva</button>
                  </ion-buttons>
                </div>

              </ion-card-content>

            </ion-card>

          </ion-row>
        </div>

        <div id="seccion-descripcion" class="line-separator secciones">
          <h2>El servicio...</h2>
          <p>{{datosEntrenador.descripcion}}</p>
        </div>
        <div (click)="valorar()" id="seccion-valoraciones" class="secciones">
          <h2 style="text-align: center;">Valoraciones</h2>

          <div id="valoracion-profesionalidad" class="progress-bar">
            <div >
              <p class="p-title-valoration">Profesionalidad</p>
              <rating class="val-comentario" [(ngModel)]="mediaProf"
                      readOnly="true"  max="5"
                      emptyStarIconName="star-outline"
                      halfStarIconName="star-half"
                      starIconName="star"
                      nullable="false"
                      (ngModelChange)="onModelChange($event,datosEntrenador.$key)">

              </rating>
            </div>
            <div *ngIf="numProf" id="progress-prof" class="progress-bar m-left">
              <ion-row >
                <p class="p-valoration">5</p><progress *ngIf="numProf" value={{numProf.prof5}} max={{totalProf}}></progress><p *ngIf="numProf.prof5">({{numProf.prof5}})</p><p *ngIf="!numProf.prof5">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">4</p><progress *ngIf="numProf"  value={{numProf.prof4}} max={{totalProf}}></progress><p *ngIf="numProf.prof4">({{numProf.prof4}})</p><p *ngIf="!numProf.prof4">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">3</p><progress *ngIf="numProf" value={{numProf.prof3}} max={{totalProf}}></progress><p *ngIf="numProf.prof3">({{numProf.prof3}})</p><p *ngIf="!numProf.prof3">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">2</p><progress *ngIf="numProf" value={{numProf.prof2}} max={{totalProf}}></progress><p *ngIf="numProf.prof2">({{numProf.prof2}})</p><p *ngIf="!numProf.prof2">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">1</p><progress *ngIf="numProf" value={{numProf.prof1}} max={{totalProf}}></progress><p *ngIf="numProf.prof1">({{numProf.prof1}})</p><p *ngIf="!numProf.prof1">(0)</p>
              </ion-row>
            </div>
          </div>
          <div id="valoracion-trato" class="progress-bar">
            <p class="p-title-valoration">Trato personal</p>
            <rating class="val-comentario" [(ngModel)]="mediaTrato"
                    readOnly="true"  max="5"
                    emptyStarIconName="star-outline"
                    halfStarIconName="star-half"
                    starIconName="star"
                    nullable="false"
                    (ngModelChange)="onModelChange($event,datosEntrenador.$key)">

            </rating>

            <div *ngIf="numTrato" id="progress-trato" class="progress-bar m-left">
              <ion-row >
                <p class="p-valoration">5</p><progress *ngIf="numTrato" value={{numTrato.trato5}} max={{totalTrato}}></progress><p *ngIf="numTrato.trato5">({{numTrato.trato5}})</p><p *ngIf="!numTrato.trato5">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">4</p><progress *ngIf="numTrato"  value={{numTrato.trato4}} max={{totalTrato}}></progress><p *ngIf="numTrato.trato4">({{numTrato.trato4}})</p><p *ngIf="!numTrato.trato4">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">3</p><progress *ngIf="numTrato" value={{numTrato.trato3}} max={{totalTrato}}></progress><p *ngIf="numTrato.trato3">({{numTrato.trato3}})</p><p *ngIf="!numTrato.trato3">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">2</p><progress *ngIf="numTrato" value={{numTrato.trato2}} max={{totalTrato}}></progress><p *ngIf="numTrato.trato2">({{numTrato.trato2}})</p><p *ngIf="!numTrato.trato2">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">1</p><progress *ngIf="numTrato" value={{numTrato.trato1}} max={{totalTrato}}></progress><p *ngIf="numTrato.trato1">({{numTrato.trato1}})</p><p *ngIf="!numTrato.trato1">(0)</p>
              </ion-row>

            </div>

          </div>
          <div id="valoracion-motivacion" class="progress-bar">
            <p class="p-title-valoration">Motivación</p>
            <rating class="val-comentario" [(ngModel)]="mediaMoti"
                    readOnly="true"  max="5"
                    emptyStarIconName="star-outline"
                    halfStarIconName="star-half"
                    starIconName="star"
                    nullable="false"
                    (ngModelChange)="onModelChange($event,datosEntrenador.$key)">

            </rating>

            <div *ngIf="numMoti" id="progress-moti" class="progress-bar m-left">
              <ion-row >
                <p class="p-valoration">5</p><progress *ngIf="numMoti" value={{numMoti.moti5}} max={{totalMoti}}></progress><p *ngIf="numMoti.moti5">({{numMoti.moti5}})</p><p *ngIf="!numMoti.moti5">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">4</p><progress *ngIf="numMoti"  value={{numMoti.moti4}} max={{totalMoti}}></progress><p *ngIf="numMoti.moti4">({{numMoti.moti4}})</p><p *ngIf="!numMoti.moti4">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">3</p><progress *ngIf="numMoti" value={{numMoti.moti3}} max={{totalMoti}}></progress><p *ngIf="numMoti.moti3">({{numMoti.moti3}})</p><p *ngIf="!numMoti.moti3">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">2</p><progress *ngIf="numMoti" value={{numMoti.moti2}} max={{totalMoti}}></progress><p *ngIf="numMoti.moti2">({{numMoti.moti2}})</p><p *ngIf="!numMoti.moti2">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">1</p><progress *ngIf="numMoti" value={{numMoti.moti1}} max={{totalMoti}}></progress><p *ngIf="numMoti.moti1">({{numMoti.moti1}})</p><p *ngIf="!numMoti.moti1">(0)</p>
              </ion-row>

            </div>

          </div>
          <div id="valoracion-objetivos" class="progress-bar">
            <p class="p-title-valoration">Objetivos</p>
            <rating class="val-comentario" [(ngModel)]="mediaObj"
                    readOnly="true"  max="5"
                    emptyStarIconName="star-outline"
                    halfStarIconName="star-half"
                    starIconName="star"
                    nullable="false"
                    (ngModelChange)="onModelChange($event,datosEntrenador.$key)">

            </rating>
            <div *ngIf="numObj" id="progress-objetivo" class="progress-bar m-left">
              <ion-row >
                <p class="p-valoration">5</p><progress *ngIf="numObj" value={{numObj.obj5}} max={{totalObj}}></progress><p *ngIf="numObj.obj5">({{numObj.obj5}})</p><p *ngIf="!numObj.obj5">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">4</p><progress *ngIf="numObj"  value={{numObj.obj4}} max={{totalObj}}></progress><p *ngIf="numObj.obj4">({{numObj.obj4}})</p><p *ngIf="!numObj.obj4">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">3</p><progress *ngIf="numObj" value={{numObj.obj3}} max={{totalObj}}></progress><p *ngIf="numObj.obj3">({{numObj.obj3}})</p><p *ngIf="!numObj.obj3">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">2</p><progress *ngIf="numObj" value={{numObj.obj2}} max={{totalObj}}></progress><p *ngIf="numObj.obj2">({{numObj.obj2}})</p><p *ngIf="!numObj.obj2">(0)</p>
              </ion-row>
              <ion-row>
                <p class="p-valoration">1</p><progress *ngIf="numObj" value={{numObj.obj1}} max={{totalObj}}></progress><p *ngIf="numObj.obj1">({{numObj.obj1}})</p><p *ngIf="!numObj.obj1">(0)</p>
              </ion-row>

            </div>

          </div>
        </div>

        <!--<div id="seccion-comentarios" class="line-separator secciones">
          <h2 style="text-align: center;">Opiniones y comentarios</h2>
          <ion-card>
            <ion-card-header>
              <ion-avatar ><img class="circle" src="../../assets/imagenes/perfil1.jpg "></ion-avatar>
              <ion-card-title class="nombre-comentario">Rosa Maria</ion-card-title>
                <rating class="val-comentario" [(ngModel)]="rate"
                        readOnly="false"  max="5"
                        emptyStarIconName="star-outline"
                        halfStarIconName="star-half"
                        starIconName="star"
                        nullable="false"
                        (ngModelChange)="onModelChange($event)"></rating>
            </ion-card-header>
            <ion-card-content>Buen entrenador</ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-avatar ><img class="circle" src="../../assets/imagenes/perfil2.jpg "></ion-avatar>
              <ion-card-title class="nombre-comentario">Juana Maria Perez </ion-card-title>
                <rating class="val-comentario" [(ngModel)]="rate"
                        readOnly="false"  max="5"
                        emptyStarIconName="star-outline"
                        halfStarIconName="star-half"
                        starIconName="star"
                        nullable="false"
                        (ngModelChange)="onModelChange($event)"></rating>
            </ion-card-header>
            <ion-card-content>Buen entrenador</ion-card-content>
          </ion-card>
        </div>-->

      </div>
    </ion-list>
    <ion-list id="seccion-blog" *ngSwitchCase="'blog'">
      <div class="publi-div" *ngFor="let publi of publicacionesEntrenador">
        <card-publi (click)="irAVistaPublicacion(publi,$event)" id="card-public" [key]=publi.$key [userKey]=publi.keyUser [entrenador]=publi.entrenador  [descripcion]="publi.descripcion" [titulo]="publi.titulo" [especialidad]="publi.especialidad"></card-publi>
      </div>
    </ion-list>
  </div>
</ion-content>


