$naranja:#FF3D00;
$verde-oscuro:#649300;
$verde-limon:#9df400;
page-inicio {
  .toolbar-title{
    color:white;
    text-align: center;
    font-size: 18pt;
    letter-spacing: 2px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .toolbar-background{

    background-color: $naranja;
  }
  .grid{
    padding: 0;
  }
  .searchbar{
    z-index: 999999;

    padding: 0;
    .searchbar-input-container{
      width: 100%;
      margin:0;
    }
  }



  .ion-content{
    padding: 0;
  }

  .scroll-content{
    padding:0 !important;
    margin: 0;
  }

  #lista-publicaciones{
    margin-top: 5px;
    .toolbar-title{
      color:black;
      text-align: center;
      font-size: 18pt;
      letter-spacing: 2px;
      background-color: white;
      padding: 0;
      margin: 0;
      border-top: 3px solid $verde-oscuro;
      border-bottom: 3px solid $verde-oscuro;
      width: 100%;
    }
    margin-bottom: 8%;
    background-color: rgba(0,0,0,0.1);
  }#lista-publicaciones-busqueda{
    margin-top: 5px;
    .toolbar-title{
      color:black;
      text-align: center;
      font-size: 18pt;
      letter-spacing: 2px;
      background-color: white;
      padding: 0;
      margin: 0;
      border-top: 3px solid $verde-oscuro;
      border-bottom: 3px solid $verde-oscuro;
      width: 100%;
    }
    margin-bottom: 8%;
    background-color: rgba(0,0,0,0.1);
  }
.swiper-wrapper{
  transform: none !important;
}
  .card {
    margin: 10px !important;
  }
  .swiper-pagination{
    .swiper-pagination-bullet{
      background: $naranja;
      width: 10px;
      height: 10px;
    }

  }
  .swiper-container-cube .swiper-cube-shadow{
    background-color: rgba(0,0,0,0.07);
  }
  .swiper-slide{
    margin-bottom: 3%;
  }
}
