<!--
  Generated template for the Inicio page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img class="logo-splash" src="assets/imagenes/logotipo.png">


    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>


  <ion-navbar>
    <ion-title>Inicio</ion-title>
  </ion-navbar>


</ion-header>
<ion-content >
  <ion-searchbar placeholder="Buscar en FYT" [(ngModel)]="busqueda" (ionInput)="getSearch($event)"></ion-searchbar>
  <ion-grid *ngIf="!busqueda">
    <div id="lista-publicaciones" *ngFor="let publicacion of publicaciones|async">

    <div *ngFor="let especialidad of especialidadConPubli">
          <ion-title  *ngIf="publicacion.especialidad==especialidad" >{{especialidad}}</ion-title>
        <ion-slides  *ngIf="publicacion.especialidad==especialidad" zoom="true" pager="true" effect="cube"	  >
          <ion-slide *ngIf="publicacion.especialidad==especialidad">
            <card-publi    [fecha]=publicacion.fechaPublicacion [key]=publicacion.$key [userKey]=publicacion.keyUser [entrenador]=publicacion.entrenador [titulo]=publicacion.titulo [especialidad]=publicacion.especialidad [descripcion]=publicacion.descripcion></card-publi>
          </ion-slide>
        </ion-slides >
        </div>
      </div>



  </ion-grid>
  <ion-grid *ngIf="busqueda">
    <div id="lista-publicaciones-busqueda" *ngFor="let publicacion of busquedaArray">

    <div *ngFor="let especialidad of especialidadConPubli">
          <ion-title  *ngIf="publicacion.especialidad==especialidad" >{{especialidad}}</ion-title>
        <ion-slides  *ngIf="publicacion.especialidad==especialidad" zoom="true" pager="true" effect="cube"	  >
          <ion-slide *ngIf="publicacion.especialidad==especialidad">
            <card-publi    [fecha]=publicacion.fechaPublicacion [key]=publicacion.$key [userKey]=publicacion.keyUser [entrenador]=publicacion.entrenador [titulo]=publicacion.titulo [especialidad]=publicacion.especialidad [descripcion]=publicacion.descripcion></card-publi>
          </ion-slide>
        </ion-slides >
        </div>


      </div>
  </ion-grid>


</ion-content>
