
$naranja:#FF3D00;
$verde-oscuro:#649300;
$verde-limon:#9df400;
card-trainer {
  *, *:before, *:after {
    box-sizing: border-box;
  }
  .card_entrenador {
    background: white;
    display: inline-block;
    margin: auto;
    padding: 0;
    width: 100%;

    //border-radius: $border-radius-size + 5;
    position: relative;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
  }
  .card_image {
    position: relative;
    width: auto;
    max-height: 135px;
    overflow: hidden;
    //border-top-left-radius: $border-radius-size;
    //border-top-right-radius: $border-radius-size;
    //background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
    .div-price{
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba(0,0,0,0.5);
      padding: 5%;
      color: white;
      text-transform: uppercase;

    }
  }
  .card-content-entrenador{
    padding: 0;
    height: auto;
  }

  .card_nombre {
    text-transform: uppercase;
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 3px;
    text-indent: 3%;
    color: #230A19;
  }

  .card_especialidad {
    font-size: 110%;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
  }
  .card_descripcion {
    margin-left: 3%;
  }
  .card_footer {
    width: 100%;
    color: white;
    font-size: 13pt;
    background: $naranja;
    font-weight: 700;
    //border-bottom-left-radius: $border-radius-size;
    //border-bottom-right-radius: $border-radius-size;
    bottom: 0;

    .one-third {
      width: 50%;
      float: left;
      text-align: center;
      //padding: 20px 15px;
      border-right: 1px solid #0B0006;
      text-transform: uppercase;
    }



    .no-border {
      border-right: none;
    }
  }
}
