<!-- Generated template for the CardTrainer component -->
<div style="margin:1%;">
  <ion-card class="card_entrenador grid-item">
    <div class="card_image ">
      <img *ngIf="fotoPerfil" src="{{fotoPerfil}}" alt="entrenador" />
      <div class="div-price">
        <div *ngIf="precioBajo!='GRATIS'" class="stat-value">Desde {{precioBajo}} €</div>
        <div *ngIf="precioBajo=='GRATIS'" class="stat-value">Prueba GRATIS</div>
      </div>
    </div>
    <ion-card-content class="card-content-entrenador">
      <div class="card_nombre ">{{nombre}} {{apellidos}}</div>
      <div class="bottom-content">
        <div class="card_descripcion">
          <ion-icon *ngIf="localidad" name="navigate" style="margin-right: 2%"></ion-icon>
          {{localidad}}
        </div>
      </div>
      <div id="valoraciones">
        <rating  id="" [(ngModel)]="valoracionMedia"
                readOnly="true"  max="5"
                emptyStarIconName="star-outline"
                halfStarIconName="star-half"
                starIconName="star"
                nullable="false"
        ></rating>
        <p *ngIf="valoraciones">({{valoraciones}})</p>
      </div>
      <div id="especialidades">
        <ion-list id="list-especialidades" >
          <ion-badge *ngFor="let esp of especialidad" class="card_especialidad">{{esp}}</ion-badge>
        </ion-list>
      </div>
      <div class="card_footer  clearfix">

        <div class="one-third">
          <div class="stat-value">Enviar mensaje</div>
        </div>
        <div  class="one-third no-border">
          <div class="stat-value">+ info</div>

        </div>
      </div>
    </ion-card-content>

  </ion-card>
</div>
