<!--
  Generated template for the CrearAnuncio page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crea tu anuncio</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="formulario" (ngSubmit)="crearAnuncio()" novalidate>
    <div >
      <ion-label class="titulo-style" stacked>Añade fotos a tu anuncio</ion-label>
      <div id="añade-fotos">

        <div (click)="addPhoto('1')" class="bloque-add">
          <ion-icon *ngIf="!foto1" name="camera"></ion-icon>
          <img *ngIf="foto1" [src]="foto1">
        </div>
        <div (click)="addPhoto('2')" class="bloque-add">
          <ion-icon *ngIf="!foto2" name="camera"></ion-icon>
          <img *ngIf="foto2" [src]="foto2">
        </div>
        <div (click)="addPhoto('3')" class="bloque-add">
          <ion-icon *ngIf="!foto3" name="camera"></ion-icon>
          <img *ngIf="foto3" [src]="foto3">

        </div>
      </div>
    </div>
    <div class="div-fields">
      <ion-label class="titulo-style" stacked>Título</ion-label>
      <ion-input class="white titulo-input" formControlName="titulo" type="text" placeholder="Añade un título"></ion-input>
      <ion-item *ngIf="formulario.get('titulo').errors && formulario.get('titulo').dirty">
        <p color="danger" ion-text *ngIf="formulario.get('titulo').hasError('required')">¡No dejes tu anuncio sin título!</p>
        <p color="danger" ion-text *ngIf="formulario.get('titulo').hasError('minlength')">Título muy corto</p>
        <p color="danger" ion-text *ngIf="formulario.get('titulo').hasError('maxlength')">Título demasiado largo</p>
      </ion-item>
    </div>

    <div class="div-fields">
      <ion-label class="titulo-style" stacked>Tarifas y servicios</ion-label>
      <p (click)="addTarifa()"  class="white">Añade tus tarifas<ion-icon class="right-icon" name="add"></ion-icon></p>
      <ion-list>
        <ion-card *ngFor="let tarifa of tarifasArray">
          <ion-card-header><ion-card-title>{{tarifa.nombre}}</ion-card-title></ion-card-header>
          <ion-card-content><ion-list >
          </ion-list></ion-card-content>
        </ion-card>
      </ion-list>
      <ion-item *ngIf="formulario.get('tarifas').errors && formulario.get('tarifas').dirty">
        <p color="danger" ion-text *ngIf="formulario.get('tarifas').hasError('required')">Añade un campo a tu anuncio</p>
        <p color="danger" ion-text *ngIf="formulario.get('tarifas').hasError('minlength')">Descripción muy corta</p>
        <p color="danger" ion-text *ngIf="formulario.get('tarifas').hasError('maxlength')">Descripción muy larga</p>
      </ion-item>
    </div>

    <div class="div-fields">
      <ion-label class="titulo-style" stacked>Elige una especialidad</ion-label>
      <ion-select multiple="true"  class="white especialidad-select"  formControlName="especialidad"  placeholder="Especialidad">
        <ion-option *ngFor="let especialidad of especialidades|async">{{especialidad.$key}}</ion-option>
      </ion-select>
    </div>

    <div class="div-fields">
      <ion-label class="titulo-style" stacked>Selecciona tus horarios de entrenamiento</ion-label>
      <div id="h-lunes" class="separator">
        <p (click)="mostrarFranjas(L)" #L id="L"  class="white">Lunes<ion-icon class="right-icon" name="add"></ion-icon></p>
        <div *ngIf="franjasShow[0]" class="center" id="franjas-lunes">
          <span>Puedes añadir hasta 3 franjas horarias</span>

          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Desde " class="white " name="franja1-from-l"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Hasta" class="white " name="franja1-to-l"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Desde" class="white" name="franja2-from-l"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Hasta" class="white" name="franja2-to-l"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Desde" class="white" name="franja3-from-l"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Hasta" class="white" name="franja3-to-l"></ion-datetime>

        </div>
      </div>
      <div id="h-martes" class="separator">
        <p (click)="mostrarFranjas(M)" #M id="M"  class="white">Martes<ion-icon class="right-icon" name="add"></ion-icon></p>
        <div *ngIf="franjasShow[1]" id="franjas-martes" class="center">
          <span>Puedes añadir hasta 3 franjas horarias</span>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Desde " class="white " name="franja1-from-m"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Hasta" class="white " name="franja1-to-m"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Desde" class="white" name="franja2-from-m"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Hasta" class="white" name="franja2-to-m"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Desde" class="white" name="franja3-from-m"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Hasta" class="white" name="franja3-to-m"></ion-datetime>

        </div>
      </div>
      <div id="h-miercoles" class="separator">
        <p (click)="mostrarFranjas(X)" #X id="X"  class="white">Miercoles<ion-icon class="right-icon" name="add"></ion-icon></p>
        <div *ngIf="franjasShow[2]" class="center" id="franjas-miercoles">
          <span>Puedes añadir hasta 3 franjas horarias</span>

          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Desde " class="white " name="franja1-from-x"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Hasta" class="white " name="franja1-to-x"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Desde" class="white" name="franja2-from-x"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Hasta" class="white" name="franja2-to-x"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Desde" class="white" name="franja3-from-x"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Hasta" class="white" name="franja3-to-x"></ion-datetime>

        </div>
      </div>
      <div id="h-jueves" class="separator">
        <p (click)="mostrarFranjas(J)" #J id="J"  class="white">Jueves<ion-icon class="right-icon" name="add"></ion-icon></p>
        <div *ngIf="franjasShow[3]" id="franjas-jueves" class="center">
          <span>Puedes añadir hasta 3 franjas horarias</span>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Desde " class="white " name="franja1-from-j"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Hasta" class="white " name="franja1-to-j"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Desde" class="white" name="franja2-from-j"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Hasta" class="white" name="franja2-to-j"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Desde" class="white" name="franja3-from-j"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Hasta" class="white" name="franja3-to-j"></ion-datetime>

        </div>
      </div>
      <div id="h-viernes" class="separator">
        <p (click)="mostrarFranjas(V)" #V id="V"  class="white">Viernes<ion-icon class="right-icon" name="add"></ion-icon></p>
        <div *ngIf="franjasShow[4]" class="center" id="franjas-viernes">
          <span>Puedes añadir hasta 3 franjas horarias</span>

          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Desde " class="white " name="franja1-from-v"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Hasta" class="white " name="franja1-to-v"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Desde" class="white" name="franja2-from-v"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Hasta" class="white" name="franja2-to-v"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Desde" class="white" name="franja3-from-v"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Hasta" class="white" name="franja3-to-v"></ion-datetime>

        </div>
      </div>
      <div id="h-sabado" class="separator">
        <p (click)="mostrarFranjas(S)" #S id="S"  class="white">Sábado<ion-icon class="right-icon" name="add"></ion-icon></p>
        <div *ngIf="franjasShow[5]" id="franjas-sabado" class="center">
          <span>Puedes añadir hasta 3 franjas horarias</span>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Desde " class="white " name="franja1-from-s"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Hasta" class="white " name="franja1-to-s"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Desde" class="white" name="franja2-from-s"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Hasta" class="white" name="franja2-to-s"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Desde" class="white" name="franja3-from-s"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Hasta" class="white" name="franja3-to-s"></ion-datetime>

        </div>
      </div>
        <div id="h-domingo" class="separator">
        <p (click)="mostrarFranjas(D)" #D id="D"  class="white">Domingo<ion-icon class="right-icon" name="add"></ion-icon></p>
        <div *ngIf="franjasShow[6]" class="center" id="franjas-domingo">
          <span>Puedes añadir hasta 3 franjas horarias</span>

          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Desde " class="white " name="franja1-from-d"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 1 - Hasta" class="white " name="franja1-to-d"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Desde" class="white" name="franja2-from-d"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 2 - Hasta" class="white" name="franja2-to-d"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Desde" class="white" name="franja3-from-d"></ion-datetime>
          <ion-datetime displayFormat="HH:mm" placeholder="Franja 3 - Hasta" class="white" name="franja3-to-d"></ion-datetime>

        </div>
      </div>
    </div>
    <div class="div-fields">
      <ion-label class="titulo-style">Lugares de entrenamiento</ion-label>
      <ion-list *ngIf="lugares">
        <ion-item *ngFor="let lugar of lugares">{{lugar.nombre}}</ion-item>
      </ion-list>
      <ion-buttons >
        <button style="width: 100%;" ion-button (click)="irAlMapa()">Ir al mapa </button>
      </ion-buttons>
    </div>
    <div style="width: 100%;float: left;" padding>
      <button ion-button block type="submit" [disabled]="formulario.invalid">Crear anuncio</button>
    </div>
  </form>
</ion-content>

